<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>JRU Spring Boot Thymleaf Exmaple</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

  <div class="starter-template">
    <h1>JRU Spring Boot Thymleaf Exmaple</h1>
    <h2>
      <span th:text="'Hello, ' + ${message}"></span>
    </h2>
  </div>

  <ol>
    <li th:each="task : ${tasks}" th:text="${task}"></li>
  </ol>
  <ol>
    <li th:each="user : ${users}" th:text="${user}"></li>
  </ol>

  <form action="/json/12">
    <input type="submit" value="Go to JSON 12" />
  </form>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>